/* @tailwind base;

@tailwind components;

@tailwind utilities; */

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
  ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}

/* login */
.generalContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.leftContainer {
  width: 55%;
  height: 100vh;
  background-color: #77ADDE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgBuhoAvion {
  width: 60%;
}

.containerRegister {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em;
}

.imgLogo {
  width: 20%;

}

.boxForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

h1 {
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
}

p {
  font-size: .8em;
  margin: 1.5em;
}

.input {
  width: 65%;
  padding: .5em;
  margin: 1em;
  background: #FFFFFF;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #737272;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  font-size: 18px;
}

.button {
  background: #116CDD;
  border-radius: 8px;
  width: 45%;
  padding: 0.5em 0em;
  border: none;

  /* font-family: 'Lato'; */
  font-style: normal;
  font-weight: 800;
  font-size: 1.5em;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: .5em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

/* css de home */
.generalContainerHome {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  background-color: #2F4152;
  width: 100%;
  height: 8vh;
  padding: .2em 0;
}

.boxBuhoLogo {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  align-items: center;
}

.buhoLogo {
  width: 41px;
  height: 33px;
}

.boxMenu {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  align-items: center;
}

.boxUser {
  /* background-color: #737272; */
  width: 30%;
  display: flex;
  justify-content: right;
  text-align: center;
  align-items: center;
  margin-right: 5%;

}

.avatar {
  width: 45px;
}

.nameUser {
  padding: 0;

  color: white;
  /* font-family: 'Lato'; */
  font-size: 14px;
}

.titleChat {
  font-size: 30px;
  color: #fff;
  text-shadow: 1px 5px 4px rgb(255 255 255 / 20%);

}

.generalBoxBodyHome {
  display: flex;

  height: 85vh;
}

.boxBodyHome {
  display: flex;
  flex-direction: column;
  width: 30%;
  /* box-shadow: 0px -7px 20px 0px rgb(0 0 0 / 25%); */
  background-blend-mode: luminosity;
  align-items: center;
  z-index: 1;
}

.boxBodyUsers {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* box-shadow: 10px -8px 9px 0px rgb(0 0 0 / 25%); */
  background-blend-mode: luminosity;
  align-items: center;
  z-index: 1;
}

.boxMessage {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #DEE8F1;
  align-items: center;
  position: relative;
  /* box-shadow: inset -9px 0px 4px rgb(0 0 0 / 25%); */


}

.cerrarSesion {
  width: 25px;
  height: 25px;
  margin-right: 8%;
}

h2 {

  /* font-weight: 400 !important; */
  font-size: 22px !important;
  color: #656565;
}

.boxChanel {
  display: flex;
  width: 90%;
  margin-top: 8%;
  height: 70vh;
  border-radius: 9px;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.boxChanel::-webkit-scrollbar {
  -webkit-appearance: none;
}

.boxChanel::-webkit-scrollbar:vertical {
  width: 10px;
}


.boxChanel::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.boxChanel::-webkit-scrollbar:horizontal {
  height: 10px;
}

.boxChanel::-webkit-scrollbar-thumb {
  /* background-color: #797979; */
  background-color: #2F4152;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.boxChanel::-webkit-scrollbar-track {
  border-radius: 10px;
}

.nameChanel {
  display: flex;
  font-size: 2em;
  width: 60%;
  margin-top: 1.5%;
  align-items: center;
  border-radius: 12px;
  border-radius: 14px;
  border-color: #000000;
  border-width: 0px 1px 1px 1px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  margin: 2% 0;
  padding: 0 0 0 0.5em;
  position: relative;
}

.nameChanel:hover {
  background-color: #9ec4f1;
  cursor: pointer;
  border-radius: 12px;
}

.nameChanelHome {
  display: flex;
  width: 100%;
  /* margin: 2% 0; */
  justify-content: center;
  text-align: center;
  /* border-radius: 9px; */
  background-color: #77ADDE;

}

.createChanel {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formChanel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputChanel {
  border-radius: 8px;
  border: 0.5px solid black;
  font-size: 20px;
  width: 70%;
  height: 30px;
  margin: 0 2%;
}

.buttonChanel {
  width: 23%;
  border-radius: 8px;
  height: 30px;
  /* background-color: #116CDD; */
  font-size: 18px;
  border: none;
  color: white;

  box-shadow: -2px 6px 4px rgb(0 0 0 / 25%);
  background: linear-gradient(143deg, #E35975 0%, #AD3C8A 37.5%, #7068AB 69.79%, #3494CD 93.75%);
  /* background: linear-gradient(227deg, #0ca7cd 0%, #3b7eb8 37.5%, #5e60a9 69.79%, #6758a5 93.75%); */
  box-shadow: 4px 5px 4px rgb(0 0 0 / 25%);
  border-radius: 8px;
}

#chatNames {
  width: 70%;
  color: #ffff;
  margin: 0;
  padding: 3% 0;
  font-weight: bolder !important;
}

.sendText {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0.03%;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: #77ADDE;

}

.buttonModal {
  background: linear-gradient(143deg, #E35975 0%, #AD3C8A 37.5%, #7068AB 69.79%, #3494CD 93.75%);
  box-shadow: 4px 5px 4px rgb(0 0 0 / 25%);
}

.nameMessage {
  font-weight: bolder;
  font-size: 12px;
}

.inputSend {
  height: 30px;
  max-width: 60%;
  border-radius: 9px;
  border: 0.5px solid;
  margin: 0 3%;

}

.messageContentRigth {
  margin: 3px 0;
  background-color: rgb(174, 187, 230);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: auto;
  max-width: 90%;
  justify-content: end;
  align-items: flex-end;
  padding: 0.3em 0.5em;
  border-radius: 10px;
}

.messageContentLeft {
  margin: 3px 0;
  background-color: #a3e9ee;
  flex-direction: column;
  max-width: 90%;
  padding: 0.3em 0.5em;
  border-radius: 10px;
  width: max-content;
}

.message {
  display: flex;

}

.boxpaper {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  border-radius: 9px;
  /* background-color: #116CDD; */
  margin-right: 1em;
  border: none;

  box-shadow: -2px 6px 4px rgb(0 0 0 / 25%);
  background: linear-gradient(16deg, #E35975 0%, #AD3C8A 37.5%, #7068AB 69.79%, #3494CD 93.75%);
  /* background: linear-gradient(143deg, #E35975 0%, #AD3C8A 37.5%, #7068AB 69.79%, #3494CD 93.75%); */
  /* background: linear-gradient(227deg, #0ca7cd 0%, #3b7eb8 37.5%, #5e60a9 69.79%, #6758a5 93.75%); */
  border-radius: 8px;
}

.paper {
  width: 30px;
  height: 90%;
}

.nameChanelP {
  margin: 2%;
  width: 90%;
  font-size: 16px;
  color: #2F4152;
  font-weight: 500;

}



.userContent {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
}

.messageContainer {
  width: 96%;
  display: flex;
  flex-direction: column;

  max-height: 68vh;
  overflow-y: auto;
  scroll-behavior: smooth;

}

.messageContainer::-webkit-scrollbar {
  -webkit-appearance: none;
}

.messageContainer::-webkit-scrollbar:vertical {
  width: 10px;
}

.messageContainer::-webkit-scrollbar-button:increment,
.messageContainer::-webkit-scrollbar-button {
  display: none;
}

.messageContainer::-webkit-scrollbar:horizontal {
  height: 10px;
}

.messageContainer::-webkit-scrollbar-thumb {
  background-color: #2F4152;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.messageContainer::-webkit-scrollbar-track {
  border-radius: 10px;
}

.textMessage {
  border-radius: 20px;
  /* padding: 2%; */
  /* margin: 1%; */
}

.avatarUser {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.divstatus {
  width: 10%;
  display: flex;
  align-items: center;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: greenyellow;
}

.imgAvatar {

  width: 20%;
  margin-left: 3%;
}

.buttonSend {
  border: none;
  background-color: #116CDD;
  height: 30px;

}

.userboxContent {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 70%;
  border-radius: 14px;
  border-color: #000000;
  border-width: 0px 1px 1px 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 45px;
  font-size: 25px;
  margin: 2% 0;
}

.nameuserconect {
  width: 80%;
  font-size: 16px;
  color: #2F4152;
}

.errorChanel {
  color: red;
  font-size: 15px;
  width: 90%;
}

.footer {
  background-color: #2F4152;
  height: 5vh;
}

/* .messageMe{
  background-color: aqua;
  border: 1px solid #116CDD;
  border-radius: 20px;
  padding: 2%;
 

}
.messageOther{
  background-color: #77ADDE;
  border: 1px solid #116CDD;
  border-radius: 20px;
  padding: 2%;
  margin: 1%;

} */

.buttonChanelUser{
  display: none;
}
/* estilos del perfil de usuario */
.boxUsersConected {
  width: 30%;
}

.boxPerfilUser {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: .2em;
  margin-bottom: 2em;
  /* background-color: #116CDD; */
}

.backImg {
  border-radius: 50%;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #F4E51F 0%, #F3C237 20.31%, #EA624F 36.98%, #E94963 52.6%, #CC3B7E 66.15%, #A24689 80.73%, #6E4996 96.87%);
}


.boxWhite {
  border-radius: 50%;
  width: 92px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: relative;

}

.iconClose {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #6c757d;
  color: white;
  width: 20px;
  /* padding: 0.3em; */
  border-radius: 50%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgPerfilUser {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  object-fit: cover;
}

.boxPerfilUser label {
  font-family: 'Lato';
  font-weight: bold;
  font-size: large;
  padding-right: 0.5em;
  color: #2F4152;
}

.boxNameEdith {
  display: flex;
  align-items: center;
  margin-top: 0.4rem;

}

.iconEdith {
  width: 30px;
  height: 30px;
}

.imgPinguino {
  width: 80px;

}

.modalGeneral {
  width: 80% !important;
}

/* .backImg {
  position: relative;
} */

.inputFile {
  width: 20% !important;
}

.camera {
  padding: 0 !important;
  margin: 0 !important;
  background-color: white !important;
  border: white !important;
  border-radius: 50% !important;

  position: absolute;
  right: 0;
  bottom: 0;

}

.cam {
  height: 34px;
  width: 34px;
}

.modal-content {
  width: 85% !important;
}

.userContainer {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  align-content: center;

}

.messageDirect {
  width: 30px;
  height: 30px;
  margin-left: 10px;

}

.menuMessage {
  /* width: 13px !important; */
  /* margin-left: 5% !important;
  position: absolute !important;
  right: 6px !important;
  top: 5px !important; */
}

.dropdown {
  width: 13px !important;
  margin-right: 6% !important;
  position: absolute !important;
  right: 6px !important;
  top: -20px !important;
}

.dropdown-toggle:empty::after {
  margin-left: 0;
  color: black;
  padding: 0;
}

.btn-success {
  background-color: transparent !important;
  --bs-btn-border-color: none !important;
  padding: 0 !important;
  color: transparent !important;
}

span {
  font-size: 11px;
  color: #6c757d;
  font-weight: 400;
}

.btn-primary {

  --bs-btn-bg: #db4f58 !important;
  --bs-btn-border-color: #a73535 !important;
  --bs-btn-hover-bg: #a73535 !important;
  --bs-btn-hover-border-color: #db4f58 !important;
}

.menuMessageImg {
  width: 16px;
}

.hamburger .line {
  width: 40px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-3.is-active .line:nth-child(1),
#hamburger-3.is-active .line:nth-child(3) {
  width: 40px;
}

#hamburger-3.is-active .line:nth-child(1) {
  -webkit-transform: translateX(-10px) rotate(-45deg);
  -ms-transform: translateX(-10px) rotate(-45deg);
  -o-transform: translateX(-10px) rotate(-45deg);
  transform: translateX(-10px) rotate(-45deg);
}

#hamburger-3.is-active .line:nth-child(3) {
  -webkit-transform: translateX(-10px) rotate(45deg);
  -ms-transform: translateX(-10px) rotate(45deg);
  -o-transform: translateX(-10px) rotate(45deg);
  transform: translateX(-10px) rotate(45deg);
}

.menuHamburger {
  display: none;
}
.back{
  display: none;
}

@media only screen and (max-width: 1200px) {

  .nameChanel {

    width: 78%;
  }

  .userContainer {

    width: 94%;
  }
}

@media only screen and (max-width: 900px) {

  .input,
  .button {
    font-size: 15px;
    width: 100%;
  }

  .nameChanel {

    width: 90%;
  }

  .userContainer {

    width: 98%;
  }
}

@media only screen and (max-width: 800px) {

  .nameChanel {

    width: 95%;
  }

  .userContainer {

    width: 100%;
  }

  .nameChanelP {

    font-size: 13px;
  }

  .nameuserconect {
    font-size: 12px;
    width: 70%;

  }

  .imgAvatar {
    width: 28%;
  }

  .inputChanel {

    width: 65%;
  }

  .buttonChanel {

    font-size: 16px;
  }
}

@media only screen and (max-width: 700px) {

  .nameChanel {

    width: 98%;
  }

  .inputChanel {

    width: 60%;
  }

  .buttonChanel {

    font-size: 14px;
  }
}
@media only screen and (max-width: 670px) {
  .avatarUser{
    width: 24px;
    height: 24px;
  }
  .messageDirect{
    width: 24px;
    height: 24px;
  }
  .boxPerfilUser label{
    font-size: 16px;
  }
  .boxChanel{
    width: 98%;
  }
  .avatar {
    width: 36px;
  }
}

@media only screen and (max-width: 580px) {
  .avatarUser{
    width: 35px;
    height: 35px;
  }
  .messageDirect{
    width: 35px;
    height: 35px;
  }

  .leftContainer {
    display: none;
  }

  .containerRegister {
    width: 80%;
  }

  .input {
    width: 100%;
  }

  .menuHamburger {
    display: flex;
  }

  .boxMenu {
    display: none;
  }

  .menuResponsive {
    top: .8% !important;
    right: 25px !important;
  }

  .boxMessage {
    display: none;
  }

  .boxUsersConected {
    display: flex;
    width: 100%;
    font-size: 25px !important;

  }
  .modal-content {
    width: 100% !important;
}

  .boxBodyHome {

    width: 100%;
  }

  .nameChanel {
    width: 80%;
  }

  .inputChanel {
    width: 80%;
   
    height: 38px;
  }

  .nameChanelP {
    font-size: 22px;
  }

  .createChanel {

    width: 100%;
  }
  .formChanel {
width: 80%;
}
.backImgAt {

  width: 300px;
  height: 300px;
}
.boxWhiteAt {

  width: 292px;
  height: 292px;
}
.block{
  display: flex;
}
.non{
  display: none ;
}
.boxMessage {

  width: 100%;
}
.menuBurger{
  display: flex;
}
.menuMessageImg {
  width: 30px;
}
.boxPerfilUser {
  justify-content: space-between;
}
.nameuserconect {
  font-size: 20px;
  width: 70%;

}
.back{
  display: flex;
  /* width: 10%; */
  margin-left: -9% !important;
  align-items: center;
}
.boxPerfilUser label{
  font-size: 25px;
}
.buttonChanel{
  font-size: 20px;
  height: 38px;
}
.buttonChanelUser{
  display: flex;
  margin: 25px 0;
  width: 80%;
  background-color: #DEE8F1;

  border-radius: 20px;
}
.buttonChan{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
}
.buttonUser{
  display: flex;
  width: 50%;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
}
.blue{
  background-color: #2F4152;
  color: white !important;
}

.titleNone{
  display: none;
}
.perfilResponsive{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
 
}
.avatarResponsive{
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}
.downResponsive{
  width: 18px;
  height: 18px;
}
.volver{
  width: 80% !important;
}
}